:root {
    --red: rgb(255, 0, 0);
    --pink: rgb(255, 0, 255);
    --green: rgb(0, 255, 0);
    --blue: rgb(0, 0, 255);
    --yellow: rgb(255, 255, 0);
    --teal: rgb(0, 255, 255);
    --orange: rgb(255, 127, 0);

    --current: var(--green);

    --mpc: rgb(68, 68, 68);
    --mpc-text: rgb(218, 218, 218);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(20, 20, 20);
}
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav {
    background-color: rgb(51, 51, 51);
    padding: .5rem 0 .5rem 2rem;
    width: 100vw;
}
footer {
    background-color: rgb(51, 51, 51);
    padding: .5rem 0 .5rem .5rem;
    width: 100vw;
}
h3 {
    color: var(--current);
}
.mpc {
    width: 90vw;
    max-width: 390px;
    background-color: var(--mpc);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: inset 0px 0px 15px 0px rgb(0, 0, 0), 0px 0px 55px -25px var(--current);
    color: var(--mpc-text);
}
.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
.tempoLabel {
    position: relative;
    font-size: small;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--mpc-text);
}
.tempoInput {
    width: 6ch;
    background-color: rgb(20, 20, 20);
    color: var(--mpc-text);
}
@keyframes flash {
    from {background-color: var(--mpc);}
    to {background-color: var(--current);}
}
.tempoButton {
    cursor: pointer;
    border-radius: 50%;
    height: 50%;
    background-color: var(--mpc);
    padding: 6px;
    border: 2px solid black;
    box-shadow: 0 0 6px 0 var(--mpc);
    animation-name: 'flash';
    animation-duration: 100;
}
.color {
    cursor: pointer;
    border-radius: 50%;
    height: 50%;
    background-color: var(--current);
    padding: 6px;
    border: 2px solid black;
    box-shadow: 0 0 6px 0 var(--current);
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button {
    cursor: pointer;
    background-color: antiquewhite;
    width: 25%;
    height: 60px;
    margin: .5rem;
    border-radius: 5px;
    box-shadow: inset 0px 2px 35px -4px var(--current), 0px 0px 5px -2px var(--current);
}
.button:active {
    box-shadow: inset 0px 2px 25px 14px var(--current), 0px 2px 25px 1px var(--current);
}
footer {
    display: flex;
    justify-content: center;
}