* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav {
    background-color: #333;
    padding: .5rem 0 .5rem .5rem;
    width: 100vw;
}
h3 {
    color: aqua;
}
.mpc {
    width: 90vw;
    margin: 20px auto;
    background-color: #444;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1rem;
}
button {
    cursor: pointer;
    background-color: antiquewhite;
    width: 25%;
    height: 60px;
    margin: .5rem;
    border-radius: 5px;
}