* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(20, 20, 20);
    display: flex;
}
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav {
    background-color: #333;
    padding: .5rem 0 .5rem 2rem;
    width: 100vw;
}
footer {
    background-color: #333;
    padding: .5rem 0 .5rem .5rem;
    width: 100vw;
}
h3 {
    color: rgb(0, 255, 0);
}
.mpc {
    width: 90vw;
    max-width: 390px;
    background-color: #444;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: inset 0px 0px 15px 0px rgb(0, 0, 0), 0px 0px 35px -15px rgb(66, 255, 66);
}
button {
    cursor: pointer;
    background-color: antiquewhite;
    width: 25%;
    height: 60px;
    margin: .5rem;
    border-radius: 5px;
    box-shadow: inset 0px 2px 35px -4px rgb(0, 255, 0), 0px 2px 15px -4px rgb(153, 254, 168);
}
button:active {
    box-shadow: inset 0px 2px 25px 14px rgb(0, 255, 0), 0px 2px 25px 1px rgba(0, 255, 0, 0.697);
}
footer {
    display: flex;
    justify-content: center;
}